
@{
    ViewBag.Title = "Listar";
}

<h2>Médicos</h2>

<table class="table table-striped">
    <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Especialidade</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MedicoId</td>
            <td>@item.Nome</td>
            <td>@item.Especialidade.Nome</td>
        </tr>
    }
</table>